.star-global{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: red;
}
.icon{
    cursor: pointer;
}
.shop-icon{
  position: relative;
}
.shop-icon i{
  position: absolute;
  top: 27%;
  left: 45%;
  font-size: 25px;
  color: white;
}
